<!--The content below is only a placeholder and can be replaced.-->

<h5>
  Welcome to {{ title }}!
</h5>
<hr />


<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <!-- <app-contact-form>
        </app-contact-form>-->

    <!--<app-login></app-login>-->
    <!--<app-signup-form></app-signup-form>-->
    <app-new-course-form-component></app-new-course-form-component>

    <!--<app-reactive-form></app-reactive-form>-->
  </div>
  <div class="col-md-3"></div>

</div>


<!--

<app-like [count]="21"></app-like>

<app-rating [value]="12312" (change)="onChange($event)"></app-rating>


<app-directives></app-directives>


<app-panel>
  <div class="heading">
    Heading
  </div>

  <div class=body>
    Body
  </div>
</app-panel>

<app-panel>
  <ng-container class="heading">
    Heading123
  </ng-container>

  <ng-container class=body>
    Body123
  </ng-container>
</app-panel>


-->

<!--<app-courses></app-courses>-->

<router-outlet></router-outlet>